<div class="modal-body" style="widows: 900px;">
    <ng-container *ngIf="invoice as detail">
      <ng-container *ngIf = "products">
        <h4 style="font-weight: bold">Download</h4>
          <br>
        <div class="progress" *ngIf="stillWaiting">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <table class="table table-hover"> 
        <tbody>
           <tr *ngFor="let x of products" >
            <td>
               <img style="width: 35px; height: 35px; border-radius: 100%;" [src]="x.imageUrl">
            </td>
            <td>
              <small>{{x.productName}}
              <span class="badge badge-pill badge-primary">{{x.category.categoryName}}</span></small> 
            </td>
            <td>
              <small>
                  <a [href] ="x.imageUrl" target="blank">Download</a></small>

            </td>
            </tr>
         </tbody>
        </table>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="products?.length < 1 && !stillWaiting">
        No data found
    </ng-container>  
  </div>