<div class="footer" style="text-align: center">
    <div class="row row-style"  >
        <div class="col-2 col-style" >
            <h6>1StopClick @ 2019</h6>
            <span class="paypal-img"></span> 
        </div>
        <div class="col-3 col-style">
        </div>
        <div class="col-4 col-style" style="text-align: left;" >
            <span class="location-icon"></span><span> Denpasar, Bali - Indonesia</span><br>
            <span class="user-icon"></span> <span>(0361) - 34253</span><br>
            <span class="email-icon"></span><span> 1-stopClick@yahoo.com</span>
        </div>
        <div class="col col-style" style="text-align: left;">
            <h5 jhiTranslate="global.footer.help">Help</h5>
            <span jhiTranslate="global.footer.term">Terms and Condition</span><br>
            <span jhiTranslate="global.footer.policy">Privacy Policies</span><br>
            <span jhiTranslate="global.footer.complain">Order Complaint</span><br>
            <span jhiTranslate="global.footer.contactus">Conctact Us</span><br>
            <span jhiTranslate="global.footer.guide">Safety Guide</span>
        </div>
    </div>
    
</div>
