<div class="footer" style="text-align: center">
    <div class="row" style="height: 300px; background-color: #2f3030; padding-top: 20px;" >
        <div class="col-4" style="color: #c3c6c9; text-align: left; padding-left: 50px;" >
            <p>1StopClick @ 2019</p>
        </div>
        <div class="col-4" style="color:#c3c6c9; text-align: left; padding-left: 120px;" >
            <span class="location-icon"></span> Indonesia<br>
            <span class="user-icon"></span> test<br>
            <span class="email-icon"></span> test@gmail.com
        </div>
        <div class="col" style="color:#c3c6c9; text-align: left; padding-left: 50px;">
            <h2>About us</h2>
            <p>we are bla bla bla bla bla bla</p>
            <p>some link</p>
            <p>some link </p>
            <p>some link </p>
        </div>
    </div>
    
</div>
