.location-icon {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/location-icon.png') no-repeat center center;
    background-size: contain;
}

.email-icon {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/email-icon.png') no-repeat center center;
    background-size: contain;
}
.user-icon {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/user-icon.png') no-repeat center center;
    background-size: contain;
}
