.paypal-icon {
    height: 40px;
    width: 50px;
    display: inline-block;
    background: url('../../../content/images/paypal-icon.png') no-repeat;
    background-size: contain;
}

.onestopclick-icon {
    height: 40px;
    width: 50px;
    display: inline-block;
    background: url('../../../content/images/1stopclick-icon.png') no-repeat;
    background-size: contain;
}

.visa-icon {
    height: 40px;
    width: 50px;
    display: inline-block;
    background: url('../../../content/images/visa-icon.png') no-repeat;
    background-size: contain;
}
