<div class="row" *ngFor="let p of product">
    <div class="col-3"></div>
    <div class="col-3">
        <img class="card-img-top" [src]="p.imageUrl" alt="{{p.productName}}" style="width: 300px;height: 400px;">
      </div>
      <div class="col-4" style="margin-left:-30px;">
        <h4>{{p.productName}} <span class="badge badge-pill badge-primary">{{p.category.categoryName}}</span></h4>
        <ng-container *ngIf="!ownedItem">
          <h5 class="card-text" style="color: chocolate">{{p.price | currency:'Rp. '}}</h5>
          <select [(ngModel)]="selectedQuantity">
            <option [value]="q" *ngFor="let q of quantity">{{q}}</option>
          </select>
          <button class="btn btn-primary btn-sm" (click)="addToCart(p)" jhiTranslate="home.addCart">Add to cart</button><hr>
        </ng-container>
        <ng-container *ngIf="ownedItem">
            <h6><fa-icon icon="check" fixedWidth="true"></fa-icon>You already purchased this product</h6>
            <button class="btn btn-success btn-sm" routerLink="/my-product">
              My Product</button><hr>
          </ng-container>
          <small>Share this product </small><br>
          <small>
          <share-button button="facebook" theme="default" [icon] = "fbIcon" [size]="-4" [showText]="false"></share-button>
          <share-button button="twitter" theme="default" [icon]="tweetIcon" [size]="-4" [showText]="false"></share-button>
          <share-button button="linkedin" theme="default" [icon]="linkedInIcon" [size]="-4" [showText]="false"></share-button> 
          <share-button button="whatsapp" theme="default" [icon]="whatsappIcon" [size]="-4" [showText]="false"></share-button> 

        </small><br>      
<!-- 
        
          <table class="table" style="width: 50%">
            <tr>
              <td style="align-content: center">
                <jhi-facebook-share></jhi-facebook-share>
              </td>
              <td style="justify-content: center;">
                <jhi-twitter-share></jhi-twitter-share>
              </td>
              <td style="align-content: left;">
                <jhi-linked-in-share></jhi-linked-in-share>
              </td>
            </tr>
          </table> -->
        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
          Lorem ipsum Lorem ipsum Lorem ipsum 
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
      </div>
</div><br>
<hr/>
<div class="row">
  <div class="col-9" style="padding-left: 40px;">
    <h5>Product Review</h5>
    <ng-container *ngIf="productReview">
        <div class="card bg-light mb-3" *ngFor="let x of productReview">
            <div class="card-body" style="margin-bottom: -10px;">
                <p>
                    <fieldset class="rating" style="margin-top: -40px;" > 
                        <input type="radio" [value]="x.rating" [checked]="x.rating===5"  />
                        <label title="Rocks!" >5 stars</label>
                      
                        <input type="radio" [value]="x.rating" [checked]="x.rating===4" />
                        <label title="Pretty good" >4 stars</label>
                      
                        <input type="radio" [value]="x.rating" [checked]="x.rating===3" />
                        <label title="Meh" >3 stars</label>
                      
                        <input type="radio" [value]="x.rating" [checked]="x.rating===2" />
                        <label title="Kinda bad" >2 stars</label>
                      
                        <input type="radio" [value]="x.rating" [checked]="x.rating===1" />
                        <label title="Sucks big time">1 star</label>
                      </fieldset>
                </p><br>
                from <span style="font-weight: bold">{{x.user.login}}</span><span style="opacity: 0.5"> {{x.date | date}} </span>
                <P>{{x.review}}</P>
            </div>
    </ng-container>
    <ng-container *ngIf="productReview.length < 1">
      <p style="font-style: italic">There are currently no review for this product</p>
    </ng-container>
  </div>
  <div class="col-3">
    <h5>Promoted</h5>
    <div style="width: 60%;">
      <ngb-carousel *ngIf="promotedProduct">
          <ng-template ngbSlide *ngFor="let p of promotedProduct">
              <div class="card" >
              <img class="card-img-top" [src]="p.promotedProduct.imageUrl" alt="{{p.promotedProduct.productName}}"  (click)="productDetail(p.promotedProduct.id)">
              <div class="card-body" style="margin-bottom: 10px; margin-top: -10px;">
                  <small class="card-title">{{p.promotedProduct.productName}} <span class="badge badge-pill badge-primary">{{p.promotedProduct.category.categoryName}}</span></small><hr/>
                  <button class="btn btn-primary btn-sm" (click)="addToCart(p.promotedProduct)" >Purchase</button>
                  <small class="card-text" style="color: chocolate">{{p.promotedProduct.price | currency:'Rp. '}}</small>
              </div>
            </div>

          </ng-template>
         
      </ngb-carousel>
    </div>
  </div>
</div>

