<div class="row" *ngFor="let p of product">
    <div class="col-3"></div>
    <div class="col-6-md-auto">
        <img class="card-img-top" [src]="p.imageUrl" alt="{{p.productName}}" style="width: 300px;height: 400px;">
      </div>
      <div class="col" >
        <h4>{{p.productName}} <span class="badge badge-pill badge-primary">{{p.category.categoryName}}</span></h4>
        <h5 class="card-text" style="color: chocolate">{{p.price | currency:'Rp. '}}</h5>
        <select [(ngModel)]="selectedQuantity">
            <option [value]="q" *ngFor="let q of quantity">{{q}}</option>
        </select>
        <button class="btn btn-primary btn-sm" (click)="addToCart(p)">Add to cart</button><br><br><br>
        <jhi-facebook-share></jhi-facebook-share>
      </div>
</div>

