<div class="row">
  <div class="col-2"></div>
  <div class="col-md-auto">
  <h3 style="font-weight:bold" jhiTranslate="home.shoppingCart">Shopping Cart</h3>
  <ng-container *ngIf="orderItem as cart">
      <p *ngIf="!isEmpty" > You have {{quantity}} items in your shopping cart</p>
      <table class="table" *ngIf="!isEmpty">
          <thead>
              <tr>
                <th></th>
                <th scope="col" class="text-left">Product</th>
                <th scope="col" class="text-left">Category</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Total Price</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of cart" >
                  <td>
                      <img style="
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                    " [src]="x.product.imageUrl">
                    </td>
                <td class="text-justify">{{x.product.productName}}</td>
                <td class="text-center"><span class="badge badge-pill badge-primary">{{x.product.category.categoryName}}</span></td>
                <td class="text-center">{{x.quantity}}</td>
                <td class="text-center">{{x.product.price | currency:'Rp. '}}</td>
                <td class="text-center">{{x.quantity * x.product.price | currency:'Rp. '}}</td>
                <td class="text-center">
                  <!-- <button class="btn btn-light" (click)="removeFromCart(x)">-</button>&nbsp;
                  <button class="btn btn-light" (click)="addToCart(x)">+</button>&nbsp; -->
                  <button class="btn btn-danger" (click)="deleteFromCart(x)"><fa-icon icon="trash-alt"></fa-icon></button>&nbsp;
                </td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                    <a>
                      <button class="btn btn-primary" (click)="checkout()">Check Out</button>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center"><p style="font-weight:bold">{{totalPrice | currency:'Rp. '}}</p></td>
                <td class="text-right">
                    <button class="btn btn-danger" (click)="clearShoppingCart()"><fa-icon icon="trash-alt"></fa-icon> Clear All</button></td>
              </tr>
            </tfoot>
      </table>
  </ng-container>
  <p *ngIf="isEmpty" >You have 0 items in your shopping cart</p>
</div>
</div>