<div class="row">
  <div class="col-3"></div>
  <div class="col-6-md-auto">
  <h2>Shopping Cart</h2>
  <ng-container *ngIf="carts as cart; else emptyData">
      <p> You have {{cart.totalItemCount}} items in your shopping cart</p>
      <table class="table" >
          <thead>
              <tr>
                <th></th>
                <th scope="col" class="text-left">Product</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productId of cart.ProductId" >
                <td>
                  <img class="img-thumbnail" [src]="productId.Product.imageURL">
                </td>
                <td class="text-justify">{{productId.Product.title}}</td>
                <td class="text-center">{{productId.quantity}}</td>
                <td class="text-center">{{productId.Product.price * productId.quantity | currency:'Rp. '}}</td>
                <td class="text-center">
                  <button class="btn btn-light" (click)="removeFromCart(productId.Product)">-</button>&nbsp;
                  <button class="btn btn-light" (click)="addToCart(productId.Product)">+</button>&nbsp;
                </td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                    <a routerLink="/checkout">
                      <button class="btn btn-primary">Check Out</button>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td class="text-center"><p style="font-weight:bold">{{cart.totalPrice | currency:'Rp. '}}</p></td>
                <td class="text-center">
                    <button class="btn btn-danger" (click)="clearShoppingCart()">Clear Shopping Cart</button></td>
              </tr>
            </tfoot>
      </table>
  </ng-container>
  <ng-template #emptyData>You have 0 items in your shopping cart</ng-template>
</div>
</div>