<div class="row">
    <div class="col-md-3" style="padding-top:10px;" >
        <div class="sticky-top">
            <form class="form-inline my-6 my-lg-0">
                <input class="form-control mr-sm-6" 
                    type="search" 
                    placeholder="Search products..." 
                    aria-label="Search" 
                    style="width: 80%;" 
                    #search
                    (keyup.enter)="searchProduct(search)"
                >
            </form><br>
            <button type="button" class="btn btn-light btn-sm active"  *ngIf="searchValue && searchValue!==''" >
                    {{searchValue}} 
                    <span class="badge badge-light" (click)="resetSearch()">X</span>
            </button>
            <div class="list-group" style="margin-top:20px;">
                <a class="list-group-item list-group-item-action"
                 routerLink="/"
                 [class.active]="category === null" 
                 jhiTranslate="home.allCategories"
                 (click)="currentCategory(null)"
                >
                  All Categories
                </a>
                <a class="list-group-item list-group-item-action"  
                  *ngFor="let c of categories " 
                  routerLink="/" 
                  (click)="currentCategory(c.categoryName)"
                  [queryParams]="{category : c.categoryName }"
                  [class.active]="category === c.categoryName"
                >{{c.categoryName}}</a>
            </div> 
        </div>
    </div>
    <div class="col-md-9" style="margin-top: 5px;"> <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-warning" *ngSwitchCase="false">
                        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">Sign in here. </a><span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>
        <div class="row">
        <ng-container *ngFor="let product of filteredProduct; let i = index">
            <div class="col" style="padding-top:20px;" *ngIf="product.category.categoryName">
                <div class="card" style="width: 280px;" >
                    <img class="card-img-top" [src]="product.imageUrl" alt="{{product.title}}" *ngIf="product.imageUrl" style="width: 100%;height: 300px;" (click)="productDetail(product.id)">
                    <div class="card-body">
                        <h6 class="card-title">{{product.productName}} <span class="badge badge-pill badge-primary">{{product.category.categoryName}}</span></h6>
                        <p class="card-text">{{product.price | currency:'Rp. '}} </p>
                        <button class="btn btn-primary btn-sm" (click)="productDetail(product.id)">More info</button>                    
                    </div>
                </div>
            </div>
            <div class="w-100" *ngIf="(i + 1)%3 === 0"></div>
        </ng-container>
        <ng-container *ngIf="filteredProduct?.length < 1">
            <div class="col" style="padding-top:20px;">
                <p jhiTranslate="home.notFound">Product not found</p>
            </div>
        </ng-container>
    </div>
        
    </div>
</div>
