<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="App.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.product.productName">Product Name</span></dt>
                <dd>
                    <span>{{product.productName}}</span>
                </dd>
                <dt><span jhiTranslate="App.product.price">Price</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span jhiTranslate="App.product.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{product.imageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="App.product.category">Category</span></dt>
                <dd>
                    <div *ngIf="product.category">
                        <a [routerLink]="['/category', product.category?.id, 'view']">{{product.category?.categoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="App.product.productDiscount">Product Discount</span></dt>
                <dd>
                    <div *ngIf="product.productDiscount">
                        <a [routerLink]="['/product-discount', product.productDiscount?.id, 'view']">{{product.productDiscount?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
