<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.productReview.home.title">Product Reviews</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-review" [routerLink]="['/product-review/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.productReview.home.createLabel">
            Create new Product Review
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productReviews">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rating"><span jhiTranslate="App.productReview.rating">Rating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="App.productReview.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ipAddress"><span jhiTranslate="App.productReview.ipAddress">Ip Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="product.id"><span jhiTranslate="App.productReview.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productReview of productReviews ;trackBy: trackId">
                <td><a [routerLink]="['/product-review', productReview.id, 'view' ]">{{productReview.id}}</a></td>
                <td>{{productReview.rating}}</td>
                <td>{{productReview.date | date:'mediumDate'}}</td>
                <td>{{productReview.ipAddress}}</td>
                <td>
                    <div *ngIf="productReview.product">
                        <a [routerLink]="['../product', productReview.product?.id, 'view' ]" >{{productReview.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-review', productReview.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-review', productReview.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-review', { outlets: { popup: productReview.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productReviews && productReviews.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
