<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-review-heading" jhiTranslate="App.productReview.home.createOrEditLabel">Create or edit a Product Review</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productReview.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productReview.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.productReview.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                        [(ngModel)]="productReview.rating" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.productReview.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="productReview.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.productReview.ipAddress" for="field_ipAddress">Ip Address</label>
                    <input type="text" class="form-control" name="ipAddress" id="field_ipAddress"
                        [(ngModel)]="productReview.ipAddress" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.productReview.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="productReview.product" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id === productReview.product?.id ? productReview.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.productName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
