<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCart">
            <h2><span jhiTranslate="App.shoppingCart.detail.title">Shopping Cart</span> {{shoppingCart.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.shoppingCart.date">Date</span></dt>
                <dd>
                    <span>{{shoppingCart.date}}</span>
                </dd>
                <dt><span jhiTranslate="App.shoppingCart.user">User</span></dt>
                <dd>
                    {{shoppingCart.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-cart', shoppingCart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
